.backy{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172)
}

.text-center{
    padding-top: 5rem;
}

.col-12{
    text-align: center;
}

.ori{
    padding: 5rem 3.5rem;
}

.oloye{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bottom-container{
    text-align: center;
    padding: 50px 0 20px;
}

.footer-link{
    margin: 10px 20px;
}

.cont{
    background-color: #A89C29;
}

.footie{
    background-color: #F9CB43;
}